# Configuração de Banco de Dados (PostgreSQL / Supabase)
spring.datasource.url=jdbc:postgresql://<HOST_DO_SUPABASE>:6543/postgres?user=postgres.<ID_PROJETO>&password=<SUA_SENHA>
spring.datasource.username=postgres
spring.datasource.password=<SUA_SENHA>
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.flyway.enabled=true

# Configurações do Supabase (Storage)
supabase.url=https://<ID_PROJETO>.supabase.co
supabase.key=<SUA_API_KEY_SERVICE_ROLE>
supabase.bucket=noticias

# Segurança (JWT e CORS)
api.security.token.secret=<UMA_CHAVE_JWT_SEGURA_AQUI>
api.cors.allowed-origins=http://localhost:3000,http://localhost:3001

# Configurações do Brevo (E-mail)
brevo.api_key=<SUA_API_KEY_V3>
brevo.from_email=portal@portoseguro.com.br
brevo.from_name=Insights Porto
